* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-primary: #0e0e0e;
  --black-secondary: #1a1a1a;
  --black: #000;
  --white-text: #f9f9f9;

  --blue: #3b82f6;
  --purple: #9333ea;
  --red: #ef4444;

  --gradient-main: linear-gradient(
    135deg,
    var(--blue),
    var(--purple),
    var(--red)
  );

  --margin-mobile: 20px;
  --margin-small: 10px;
  --margin-medium: 25px;
  --margin-large: 35px;
  --margin-large-desktop: 5rem;

  --gap: 30px;

  --section-padding: 3rem;
  --section-padding-desktop: 6rem;
}

html {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-primary);
  color: var(--white-text);
  overflow-x: hidden;
  display: block;
}

.container {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
}

span.gradient {
  background: var(--gradient-main);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.gradient-button,
a.gradient-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
  color: var(--white-text);
  padding: var(--margin-small) var(--margin-medium);
  border-radius: var(--margin-small);
  text-decoration: none;
  font-size: 1.2rem;
  background: var(--gradient-main);
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}

button.gradient-button::before,
a.gradient-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, var(--blue), var(--purple), var(--red));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.6s ease;
}

button.gradient-button:hover::before,
a.gradient-button:hover::before {
  opacity: 1;
}

/* Texts styles */

p.description {
  font-size: 1.3rem;
  font-weight: 300;
}

p.site-title {
  font-size: 2rem;
}

p.title-small {
  font-size: 1.2rem;
  font-weight: 300;
}

h1.hero-title {
  font-size: 3.5rem;
  line-height: 110%;
  font-weight: 600;
  text-transform: capitalize;

  span {
    font-style: italic;
    font-weight: 400;
  }
}

h2.section-title {
  font-size: 2.2rem;
  line-height: 110%;
  font-weight: 400;
}

h3.section-subtitle {
  font-size: 1.8rem;
  line-height: 110%;
  font-weight: 400;
  margin: var(--margin-medium) 0;
}

/* Popup */

.popup,
.thanks {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  position: fixed;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--black-secondary);
  padding: var(--section-padding-desktop);
  border-radius: var(--margin-small);
  z-index: 10;

  i {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 2rem;
    cursor: pointer;
  }

  h2.section-title {
    font-size: 2rem;
    text-align: center;
    background: var(--gradient-main);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p.thanksMessage {
    font-size: 1.5rem;
    text-align: center;
  }

  #orderForm {
    text-align: center;
    .form-field {
      position: relative;
      margin-bottom: 2rem;
      font-family: sans-serif;
    }

    .form-field input {
      width: 100%;
      padding: 1.2rem 1rem 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      outline: none;
    }

    .form-field label {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: var(--black-secondary);
      font-size: 1rem;
      pointer-events: none;
      background: white;
      transition: 0.3s ease;
      padding: 0 0.25rem;
    }

    .form-field input:focus + label,
    .form-field input:not(:placeholder-shown) + label {
      top: 0.3rem;
      left: 0.8rem;
      font-size: 0.75rem;
    }

    button {
      position: relative;
      overflow: hidden;
      display: inline-block;
      z-index: 0;
      color: var(--white-text);
      padding: var(--margin-small) var(--margin-medium);
      border: none;
      border-radius: var(--margin-small);
      text-decoration: none;
      font-size: 1.2rem;
      background: var(--gradient-main);
      text-transform: capitalize;
      cursor: pointer;
    }

    button::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        225deg,
        var(--blue),
        var(--purple),
        var(--red)
      );
      z-index: -1;
      opacity: 0;
      transition: opacity 0.6s ease;
    }

    button:hover::before {
      opacity: 1;
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5;
}

/* Logo */

.logo {
  display: flex;
  gap: var(--margin-small);
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  i {
    font-size: 1.5rem;
    background: var(--gradient-main);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p.site-title {
    font-weight: 400;
    color: var(--white-text);
  }
}

/* Ikonki */

i {
  background: var(--gradient-main);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Header / Nagłówek */

header {
  margin: 0 var(--margin-medium);
}

section {
  margin: 0 var(--margin-large);
  padding: var(--section-padding) 0;
}

.site-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  .main-menu {
    position: absolute;
    width: 75%;
    top: 5.5rem;
    right: 0.5rem;
    padding: var(--margin-large);
    border-radius: var(--margin-small);
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--black-secondary);
    }

    .menu-element {
      list-style: none;
      z-index: 2;

      .menu-link {
        font-size: 1.3rem;
        font-weight: 300;
        text-transform: capitalize;
        text-decoration: none;
        background: var(--gradient-main);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .last {
        background: var(--gradient-main);
        background-clip: border-box;
        -webkit-background-clip: border-box;
        -webkit-text-fill-color: initial;
        color: var(--white-text);
        padding: var(--margin-small) var(--margin-mobile);
        border-radius: var(--margin-small);
        display: block;
      }
    }
  }

  .main-menu.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .button-primary {
    display: none;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 1;

    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: var(--gradient-main);
      transition: 0.5s;
      transform: translate(-50%, -50%);
      z-index: 22;
    }

    .line::before,
    .line::after {
      position: absolute;
      width: 32px;
      height: 2px;
      background: var(--gradient-main);
      transition: 0.5s;
    }

    .line::before,
    .line::after {
      content: "";
      left: 50%;
      transform: translateX(-50%);
    }

    .line::before {
      top: -8px;
    }

    .line::after {
      top: 8px;
    }

    .line.active {
      width: 0;
    }

    .line.active::before {
      top: 0;
      transform: translateX(-50%) rotate(-45deg);
    }

    .line.active::after {
      top: 0;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.hero {
  background-image: url("img/hero_background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 20vh var(--margin-medium);
  border-radius: var(--margin-small);

  position: relative;
  overflow: hidden;

  .content-box {
    position: relative;
    z-index: 1;

    p.description {
      width: 80%;
      font-size: 1.2rem;
      margin-top: var(--margin-small);
    }
  }
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--gradient-main);
  opacity: 0.35;
  pointer-events: none;
}

#aboutus {
  .container {
    .content-box {
      display: flex;
      flex-direction: column;
      gap: var(--margin-medium);
    }

    .logo-section {
      display: flex;
      flex-wrap: wrap;
      gap: var(--margin-mobile);
      margin-top: var(--margin-large);

      .logo-box {
        width: calc(50% - (var(--margin-mobile) / 2));
        background-color: var(--black-secondary);
        padding: var(--section-padding);
        border-radius: var(--margin-small);

        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 2rem;
        }

        svg{
          width: 48px;
          fill: url(#gradient)
        }
      }
    }
  }
}

#whyus {
  background-color: var(--black-secondary);
  margin: 0;
  padding: var(--section-padding) var(--margin-large);

  .whyus-boxes {
    margin-top: var(--margin-large);
    display: flex;
    flex-direction: column;
    gap: var(--margin-medium);

    .whyus-box {
      background-color: var(--black-primary);
      padding: var(--margin-large);
      border-radius: var(--margin-small);

      i {
        font-size: 2rem;
      }
    }
  }
}

#courses {
  .container {
    .content-box {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
    }

    .courses-box {
      margin-top: var(--margin-large);
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      .course {
        padding: var(--section-padding);
        background-color: var(--black-secondary);
        border-radius: var(--margin-small);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .course-img {
          width: 90%;
          border-radius: var(--margin-small);
        }

        h3.section-subtitle {
          text-align: center;
        }

        p.description {
          text-align: center;
        }

        .gradient-button {
          margin-top: var(--margin-medium);
          width: fit-content;
        }
      }
    }
  }
}

#testimonials {
  .container {
    .content-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3.section-title {
        width: 66%;
      }

      .buttons {
        display: flex;
        gap: var(--margin-small);

        button {
          width: 48px;
          height: 48px;
          position: relative;
          border-radius: 50%;
          background: var(--black-primary);
          border: none;
          font-size: 1.3rem;
          cursor: pointer;
          transition: 0.3s;
        }

        button:hover {
          background: var(--gradient-main);
        }

        button:hover i {
          background: var(--black-primary);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        button::after {
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
          z-index: -1;
          background: var(--gradient-main);
          border-radius: 50%;
        }
      }
    }

    .testimonials-container {
      display: flex;
      gap: var(--gap);
      overflow: auto;
      margin-top: var(--margin-medium);
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;
      border-radius: var(--margin-small);

      .testimonial {
        flex: 0 0 100%;
        max-width: 100%;
        background: var(--black-secondary);
        padding: var(--section-padding);
        border-radius: var(--margin-small);

        .avatar-box img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          margin-bottom: var(--margin-medium);
        }
      }
      .testimonials-container::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

#faq {
  .container {
    .content-box {
      display: flex;
      flex-direction: column;
      gap: var(--margin-medium);
    }
    .faq-list {
      margin-top: var(--margin-large);

      .faq-item {
        .faq-btn {
          width: 100%;
          background: none;
          border: none;
          font-size: 1rem;
          font-weight: 300;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          padding: var(--margin-small) 0;
          margin-top: var(--margin-small);
          position: relative;

          span.question {
            color: var(--white-text);
            text-align: left;
            width: 80%;
          }

          .faq-icon {
            background: var(--gradient-main);
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .faq-icon {
            font-size: 1.5rem;
            transition: transform 0.3s ease;
          }
        }

        .faq-btn::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: var(--gradient-main);
        }

        .faq-content {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s ease;
        }

        .faq-content p {
          margin-top: 10px;
          color: var(--white-text);
          font-size: 0.9rem;
        }

        .faq-item.active .faq-content {
          max-height: 500px;
        }

        .faq-item.active .faq-icon {
          transform: rotate(45deg);
        }
      }
    }
  }
}

footer {
  background-color: var(--black);
  margin: 0;
  padding: var(--section-padding) var(--margin-large);

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .content-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--gap);

      .menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap);

        .menu-element {
          list-style: none;

          .menu-link {
            font-size: 1.1rem;
            font-weight: 300;
            text-transform: capitalize;
            text-decoration: none;
            color: var(--white-text);
          }
        }
      }

      .social-media-box {
        display: flex;
        gap: var(--gap);
        align-items: center;

        i {
          font-size: 1.6rem;
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: var(--black-secondary);
    }

    .copyright-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--margin-small);

      .links {
        display: flex;
        gap: var(--margin-small);

        .footer-link {
          text-decoration: none;
          color: var(--white-text);
        }
      }
    }
  }
}

@media (min-width: 640px) {
  p.description {
    font-size: 1.5rem;
  }

  p.site-title {
    font-size: 2rem;
  }

  p.title-small {
    font-size: 1.2rem;
  }

  h1.hero-title {
    font-size: 4rem;
  }

  h2.section-title {
    font-size: 2.6rem;
  }

  h3.section-subtitle {
    font-size: 2rem;
  }

  #faq {
    .container {
      .faq-list {
        .faq-item {
          .faq-btn {
            font-size: 1.2rem;
          }

          .faq-content p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  p.description {
    font-size: 1.7rem;
  }

  p.site-title {
    font-size: 2rem;
  }

  p.title-small {
    font-size: 1.5rem;
  }

  h1.hero-title {
    font-size: 5rem;
  }

  h2.section-title {
    font-size: 3.2rem;
  }

  h3.section-subtitle {
    font-size: 2.3rem;
  }

  #faq {
    .container {
      .faq-list {
        .faq-item {
          .faq-btn {
            font-size: 1.4rem;
          }

          .faq-content p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  section {
    padding: var(--section-padding-desktop) var(--margin-small);
  }

  .site-navbar {
    .main-menu {
      position: static;
      flex-direction: row;
      width: auto;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      display: flex;
      gap: var(--margin-large);
      background: transparent;
      padding: 0;

      .background {
        display: none;
      }

      .menu-element {
        .menu-link {
          font-size: 1.1rem;
          background: none;
          background-clip: border-box;
          -webkit-background-clip: border-box;
          -webkit-text-fill-color: initial;
          color: var(--white-text);
          transition: 0.3s;
          position: relative;
        }

        .menu-link::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          background: var(--gradient-main);
          border-radius: 50%;
          transition: 0.5s;
        }

        .menu-link:hover::after {
          width: 100%;
        }

        .last {
          background: var(--gradient-main);
          background-clip: border-box;
          -webkit-background-clip: border-box;
          -webkit-text-fill-color: initial;
          color: var(--white-text);
          padding: var(--margin-small) var(--margin-medium);
          border-radius: var(--margin-small);
          margin-left: var(--margin-medium);
        }
      }
    }

    .menu-btn {
      display: none;
    }
  }

  #aboutus {
    .container {
      .content-box {
        flex-direction: row;

        .title-box {
          width: 50%;
        }

        .text-box {
          width: 50%;
        }
      }

      .logo-section {
        justify-content: space-between;
        margin-top: var(--margin-large-desktop);
        .logo-box {
          width: calc(25% - (var(--margin-medium)));
          padding: var(--section-padding-desktop);

          i {
            font-size: 2.5rem;
            transition: 0.5s;
          }
        }

        .logo-box:hover i {
          transform: scale(1.2);
        }
      }
    }
  }

  #whyus {
    padding: var(--section-padding-desktop) var(--margin-large);

    .content-box {
      display: flex;
      justify-content: center;

      h3.section-title {
        width: 60%;
        text-align: center;
      }
    }

    .whyus-boxes {
      margin-top: var(--margin-large-desktop);
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--gap);
      justify-content: space-between;

      .whyus-box {
        width: calc(33% - (var(--gap) / 1.8));

        i {
          font-size: 2rem;
        }

        h4.box-title {
          margin: var(--margin-medium) 0;
        }
      }
    }
  }

  #courses {
    .container {
      .content-box {
        align-items: center;

        h2.section-title {
          text-align: center;
        }
        p.description {
          width: 80%;
          text-align: center;
        }
      }

      .courses-box {
        margin-top: var(--margin-large-desktop);
        flex-direction: row;

        .course {
          padding: var(--section-padding);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          i {
            font-size: 3.5rem;
          }

          h4.box-title {
            margin-top: var(--margin-medium);
          }

          p.description {
            text-align: center;
          }

          .gradient-button {
            margin-top: var(--margin-medium);
          }
        }
      }
    }
  }

  #testimonials {
    .container {
      .content-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3.section-title {
          width: 66%;
        }

        .buttons {
          display: flex;
          gap: var(--margin-small);

          button {
            width: 48px;
            height: 48px;
            position: relative;
            border-radius: 50%;
            background: var(--black-primary);
            border: none;
            font-size: 1.3rem;
            cursor: pointer;
            transition: 0.3s;
          }

          button:hover {
            background: var(--gradient-main);
          }

          button:hover i {
            background: var(--black-primary);
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          button::after {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            z-index: -1;
            background: var(--gradient-main);
            border-radius: 50%;
          }
        }
      }

      .testimonials-container {
        display: flex;
        gap: var(--gap);
        overflow: auto;
        margin-top: var(--margin-medium);
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        border-radius: var(--margin-small);

        .testimonial {
          flex: 0 0 50%;
          max-width: calc(50% - (var(--gap) / 2));
        }
      }
    }
  }

  footer {
    .container {
      .content-box {
        flex-direction: row;
        justify-content: space-between;

        .menu-footer {
          flex-direction: row;
          .menu-element {
            .menu-link {
              font-size: 1.1rem;
              font-weight: 300;
              text-transform: capitalize;
              text-decoration: none;
              color: var(--white-text);
              position: relative;
            }

            .menu-link::after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              width: 0;
              height: 2px;
              background: var(--gradient-main);
              border-radius: 50%;
              transition: 0.5s;
            }

            .menu-link:hover::after {
              width: 100%;
            }
          }
        }
      }

      .copyright-box {
        flex-direction: row;
        justify-content: space-between;
        .links {
          .footer-link {
            position: relative;
          }

          .footer-link::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background: var(--gradient-main);
            border-radius: 50%;
            transition: 0.5s;
          }

          .footer-link:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}
